KAKAO_JAVASCRIPT_KEY=
KAKAO_REST_API_KEY=
APP_KEY=

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=wedding
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_SOCKET=

# Guest Snap upload unlock (Asia/Seoul). Formats: Y-m-d H:i:s | Y-m-d
GUEST_SNAP_OPEN_AT=2027-09-25 00:00:00
